@page
@model WebApp.Pages.TodoItems.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TodoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.Heading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Heading)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.EPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.EPriority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.DateDue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.DateDue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.DateDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.DateDone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TodoItem.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TodoItem.TodoItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
